<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<body>

<div layout:fragment="content">
   
        <div class="container">
            <div class="row">
               
                <div class="w3-container w3-display-topleft w3-padding-64">
                    <h2>Welcome to our site</h2>
                    <p>Enjoy our site ...</p></div>
                
                
                <div class="w3-container w3-display-middle">
                     <img th:src="@{/img/shop.jpeg}" alt="Logo" >
                
                
                </div> 
            </div>
        </div>
   
</div>

	<h3 align="center">Home</h3>
	<Br>
	<Br>

	<table align="center">
		<tr>
			<td>Session id:</td>
			<td th:text="${session.sid}"></td>
		</tr>
	</table>

	<p align="center" th:text="${serverTime}"></p>

	<table align="center">
		<tr>
			<td>Customer:</td>
			<td
				th:text="${session.customer.firstName+ ' '+session.customer.lastName }"></td>
		</tr>
		<tr>
			<td>Status:</td>
			<td
				th:text="${session.status}"></td>
		</tr>
	</table>
	<Br><Br><Br><Br><Br><Br><Br>
	
	<div align="center">
		<table>
			<tr>

				<td><a th:href="@{/products/show}">Product List</a></td>
				<td><a th:href="@{/cart/show}">My cart</a></td>
				<td><a th:href="@{/creditcards/addCreditCard}">Add Card</a></td>
				<td><a th:href="@{/customers/addCustomer}">Add Client</a></td>
				<td><a th:href="@{/creditcards/show}">List of Cards</a></td>
				<td><a th:href="@{/customers/show}">List of clients</a></td>
			</tr>
		</table>
	</div>

</body>
</html>
